/* Reset de estilo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Corpo do documento */
body {
  background-color: #f4f7fc;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  display: flex;
}

/* Estilos gerais, exceto para a parte 'Sobre' */
body {
  font-size: 18px; /* Aumenta a fonte base para todo o site */
}

section h2 {
  font-size: 2.2rem; /* Aumenta o tamanho das seções */
}

ul li {
  font-size: 1.4rem; /* Aumenta o tamanho da lista */
}

.experiencia-item h3 {
  font-size: 1.8rem; /* Aumenta o título da experiência */
}

.experiencia-item p {
  font-size: 1.2rem; /* Aumenta o texto dentro dos itens de experiência */
}

#habilidades li {
  font-size: 1.4rem; /* Aumenta o tamanho da lista de habilidades */
}

#certificados li {
  font-size: 1.2rem; /* Aumenta o tamanho do texto de certificados */
}

footer {
  font-size: 1.2rem; /* Aumenta o tamanho da fonte no rodapé */
}

/* Sobre mim: Mantendo o tamanho da fonte original */
#sobre p {
  background-color: #f9f9f9;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 1.2rem; /* Tamanho da fonte do 'Sobre' */
}

#sobre p:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
header {
  background: #4e73df;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  width: 400px;
  height: fit-content;
  margin: 5px;
  position: fixed;
}

header h1 {
  font-size: 2.5rem; /* Aumenta o tamanho do título */
}

header p {
  font-size: 1.4rem; /* Aumenta o tamanho do texto */
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    font-size: 17px; /* Ajuste para telas menores */
  }

  section h2 {
    font-size: 1.8rem; /* Ajusta para telas menores */
  }

  ul li {
    font-size: 1.2rem;
  }

  .experiencia-item h3 {
    font-size: 1.6rem;
  }

  .experiencia-item p {
    font-size: 1.1rem;
  }

  #habilidades li {
    font-size: 1.2rem;
  }

  #certificados li {
    font-size: 1.1rem;
  }

  footer {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 16px; /* Ajuste para telas menores */
  }

  header h1 {
    font-size: 1.5rem; /* Ajusta para telas menores */
  }

  section h2 {
    font-size: 1.6rem;
  }

  ul li {
    font-size: 1rem;
  }

  footer {
    font-size: 0.9rem;
  }
}
