* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f4f7fc;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: #4e73df;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  width: 380px; /* Largura fixa para a parte azul */
  height: auto;
  margin: 5px;
  position: fixed;
  top: 0;
  cursor: pointer;
}
header p {
  color: #fff;
}

header .header-content {
  text-align: center;
  padding: 20px;
  background-color: #4e73df; /* Cor de fundo azul */
}

/* Foto */
#foto img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* Corpo do conteúdo */
.main-content {
  padding: 2rem;
  margin-top: 200px; /* Dá espaço para o cabeçalho fixo */
  width: 100%;
}

footer {
  background: #4e73df;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/* Estilo de collapse no mobile */
@media (max-width: 768px) {
  .header-content {
    display: none; /* Esconde o conteúdo até o clique na foto */
  }

  .foto-container {
    text-align: center;
    margin-top: 30px;
  }
}

/* Responsividade */
@media (max-width: 480px) {
  #foto img {
    width: 100px;
    height: 100px;
  }
}
